<div class="grid-container">

  <div class="" id="author">
    <%= @first_book.authors %>
  </div>

  <div class="" id="id">
    <%= @first_book.isbn %>
  </div>

  <div class="" id="buyIt">
    <a href="<%= @first_book.sale_info['buyLink'] %>">Buy It</a>
  </div>

  <div class="" id="image">
    <img src="<%= @first_book.image_link %>" alt=""></img>
  </div>

</div>
