body {
  margin: 5% 12%;
  background-color: rgb(159, 141, 252);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.author {
  background-color: rgb(70, 145, 95);
  text-align: center;
}

.image {
  grid-column: 1/4;
  background-color: rgb(92, 37, 217);
}
